<section class="">
    <footer class="text-center text-white" style="background-color: #0a4275;">
        <div class="container p-4 pb-0">
            <section class="">
                <p class="d-flex justify-content-center align-items-center">
                    <span class="me-3">Register for free</span>
                    <button class="btn btn-light col-lg-5 d-flex border-dark justify-content-evenly align-items-center ms-2" 
                            style="width: 150px;" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasLogin" 
                            aria-controls="offcanvasLogin">
                        <icon class="material-symbols-outlined">account_circle</icon>
                        Sign in
                    </button>
                </p>
            </section>
        </div>
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
            © 2020 Copyright: Name Here
        </div>
    </footer>
</section>

@code {

}
