
<div class="container-fluid" style="">
    <div class="row m-4">
        <div class="col text-end border-end border-dark">
            <h1 class="text-primary">LOGO</h1>
        </div>
        <div class="col">
            <h1>NAME HERE</h1>
        </div>
    </div>
</div>

@code {

}
